.core {
    margin-top: 200px;
    padding: 80px 25px 25px;
    border: 1px solid black;
    border-radius: 12px;
    width: 280px;
    height: 260px;
    background-color: white;
}

.title {
    margin: 10px 0 50px 0;
    color: rgb(0, 149, 255);
}

.loader {
    margin-left: 55px;
}