.card {
    background-color: white;
    font-weight: 600;
    width: 50vw;
    max-width: 400px;
    height: 40vh;
    max-height: 80vh;
    padding: 30px;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
}

@media screen and (max-width: 564px){
    .card{
        width: 50vw;
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 1024px){
    .card{
        width: 29vw;
    }
}

.cardtext {
    padding: 20% 5% 5% 5%;
}
