.card {
    background-color: white;
    font-weight: 600;
    width: 20vw;
    max-width: 400px;
    height: 15vh;
    max-height: 20vh;
    padding: 30px;
    border: 1px solid black;
    text-align: center;
}

@media screen and (max-width: 564px){
    .card{
        width: 50vw;
    }
}

.cardtext {
    margin-top: 15px;
}