.card {
    background-color: white;
    font-weight: 600;
    width: 50vw;
    max-width: 300px;
    height: 40vh;
    max-height: 180px;
    padding: 30px;
    margin-left: 65px;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to bottom right, rgb(18, 132, 66), rgb(29, 28, 28));
}

.cardtext {
    padding: 25% 5% 5% 5%;
    color: white;
}

.trashcan{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 250px;
    top:15px;
    transition: 0.15s;
    color: rgb(255, 82, 105);
}

.trashcan:hover{
    transition: 0.15s ease-in-out;
    background-color: rgb(255, 82, 105);
    border-radius: 25%;
    padding: 5px;
    left:245px;
    top:10px;
    color:white;
}

@media screen and (max-width: 564px){
    .card{
        width: 50vw;
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 1024px){
    .card{
        width: 29vw;
    }
}