name: Lint
on:
  push:
    branches-ignore:
      - main
      - release*
    paths:
      - web/**

jobs:
  eslint:
    runs-on: ubuntu-latest
    env:
      working-directory: ./web
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14.x"

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
        working-directory: ${{ env.working-directory }}

      - uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - run: yarn install --frozen-lockfile
        working-directory: ${{ env.working-directory }}
      - run: yarn lint
        working-directory: ${{ env.working-directory }}
